* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5px;
}

.main-header .hamburger {
  font-size: 40px;
  cursor: pointer;
  display: none;
}
