* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5px;
}

.main-header .hamburger {
  font-size: 40px;
  cursor: pointer;
  display: none;
}

.right-section {
  display: flex;
  align-items: center;
}

.right-section ul {
  list-style: none;
  display: flex;
}

.road-assistance {
  display: flex;
  padding-left: 20px;
}

.right-section ul li {
  margin-right: 20px;
}

.right-section ul li a {
  text-decoration: none;
  color: #000;
}

.right-section .navigation {
  border-right: 2px solid #ccc;
}

.road-assistance .icon {
  margin-right: 10px;
}

.flex {
  display: flex;

}

.flex-1 {
display: flex;
justify-content: space-evenly;

}

#hero-section .text-section{
  width: 45%;
} 

#hero-section .image-section {
  width: 55%;
}

#hero-section, #quote-section {
  padding: 80px 0;
}

#booking-section, #customer-review, #brand-services {
  padding: 80px 0;
}

#faq-section {
  padding: 80px 0;
  background: #E2E6E9;


}

#offer-section {
 padding: 80px 0;
}

#hero-section .image-section {
  background-image: url("https://res.cloudinary.com/muuba/image/upload/v1650391219/Header_Image_fzqpea.png");
  background-size: cover;
  background-position: center;
  min-height: 68vh;
}

.text-section h1 {
  font-size: 64px;
}

.orange-btn {
  background: #FF6433;
  border-radius: 12px;
  padding: 16px 40px;
  text-decoration: none;
  font-size: 18px;
  margin-top: 35px;
  display: inline-block;
  color: #fff;
border: none;
}

.time-section {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.text-section .image-box {
  width: 5%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-section .time-text {
  width: 95%;
}
.time-section img {
  width: 100%;
}

.light-grey {
  color: #939191;
}

#quote-section {
  background: #E2E6E9;
}

#quote-section .left-section, #quote-section .right-form-section {
  width: 45%;
}

#quote-section ul {
  list-style: none;
}

#quote-section ul li {
  margin-bottom: 20px;
}

#quote-section .left-section h2 {
  margin-bottom: 30px;
  font-size: 58px;
}

#quote-section .left-section .image-box {
  width: 5%;
  margin-right: 10px;
}

#quote-section .left-section .image-box img {
  width: 100%;
}


#quote-section .left-section .text-box {
  width: 50%;
}

#quote-section .left-section .text-box h5 {
  font-size: 24px;
  margin-bottom: 9px;
}

#quote-section .left-section .arrow-span {
display: flex;
align-items: center; 
}

#quote-section .left-section .arrow-span a {
text-decoration: none;
color : black;
margin-right: 14px;
}

#quote-section .right-form-section h3{
  font-size: 48px;
  margin-bottom: 19px;
}

#quote-section .right-form-section input {
  width: 100%;
  padding: 14px;
  margin-bottom: 10px;
  border: none;
}

#quote-section  p {
opacity: 0.6;
}

#booking-section .left-process {
  width: 40%;
}
#booking-section .right-process {
  width: 45%;
 margin-left: 60px;
}

#booking-section .left-process h2 {
  margin-bottom: 30px;
  font-size: 58px;
}

#booking-section .left-process p {
font-size: 16px;
width: 74%;
opacity: 0.6;
}


#booking-section .right-process .text-box {
  width: 50%;
}

#booking-section .right-process .text-box h5 {
  font-size: 24px;
  margin-bottom: 9px;
}

#booking-section .right-process .image-box {
  width: 10%;
  margin-right: 10px;
  margin-bottom: 10px;
}

#booking-section .right-process .image-box img {
  width: 100%;
}

#booking-section .right-process .text-box h5 {
  font-size: 24px;
  margin-bottom: 9px;
}

#booking-section ul {
  list-style: none;
}

#booking-section ul li {
  margin-bottom: 20px;
}
#booking-section p {
opacity: 0.6;
margin-top: 25px;
}

.purple-line {
width: 0;
height: 59%;
border-left: 4px dotted #FF6433;
margin-left: 22px;
margin-bottom: 13px;

}

#offer-section {
background-color: #F2F2F2;
min-height: 100vh;

}

.flex-offer {
display: flex;
justify-content: center;

}

#offer-section .offer-header h2 {
font-size: 58px;
text-align: center;
}
#offer-section .offer-header p {
font-size: 24px;
text-align: center
}

#offer-section .service-offer {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
 width: 100%;
margin-top: 40px;

}

#offer-section .service-offer img {
width: 30%;

}



.service-offer .services-render {
width: 24%;
padding: 50px;
background-color: white;
text-align: center;
margin-top: 10px;
}

.service-offer .render-3 {
  color: white;
  background-color: black;
  }

.service-offer .services-render:hover {
  background-color: #FF6433;
  cursor: pointer;
  transform: scale(1.1);
  color: white;
}

.service-offer .services-render p {
font-size: 24px;
}


.learn-more {
display: flex;
justify-content: flex-end;
margin-top: 20px;
}
.learn-more a {
text-decoration: none;
color: black;
margin-right: 10px;
}

#query-section {

background-color:#F2F2F2;
position: relative;

}

.query-1 .query-image-container {
  display: flex;
  width: 100%;
}

.query-1 .query-image-container .query-image-1{
  background-image: url(/the-finsweet/images/query-image.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 17%;
  height: 400px;
}



.query-1 .query-image-container .query-image-contact{
  display: flex;
  align-items: center;
  width: 45%;
  background: #FF6433;
  height: 400px;
  padding: 39px;

}

.query-1 .query-image-container .query-image-contact h3 {
  font-size: 45px;
  color: white;
  
}

.query-1 .query-image-container .query-image-contact button {
  background-color: #000;
  border: none;
  padding: 15px;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  margin-top: 20px;
  
}

.query-1 .query-image-container .query-image-2{
  background-image: url(/the-finsweet/images/query-image2.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 40%;
  height: 400px;
  background-position: right;
}







#query-section .experience {
display: flex;
justify-content: space-around;
padding: 30px;
}
#query-section .experience p {
font-size: 24px;
}

#query-section .experience h2 {
  font-size: 24px;
  color: #661CE7;
  font-size: 58px;

  }

#brand-services .brand-header {
display: flex;
justify-content: center;
}

#brand-services .brand-header h3 {
font-size: 48px;
}

#brand-services .brand-images-section {
display: flex;
flex-wrap: wrap;
}

#brand-services .brand-images-section .brand-images {
width: 20%;
}

#brand-services .brand-images-section .brand-images img {
width: 100%;
}




#customer-review {
  background: #F2F2F2;

}
#customer-review .customer-header {
  display: flex;
  justify-content: center;
}

#customer-review .customer-header h3 {
 font-size: 48px;
  text-align: center;
}

#customer-review .slideshow-container {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}

#customer-review .slide-relative {
  position: relative;
}

#customer-review .slideshow-container .my-slide {
  display: flex;
  align-items: center;

}

#customer-review .slideshow-container .myslide-sub-container{
  background-color: #FFFFFF;
  width: 47%;
  padding: 30px;
}

#customer-review .slideshow-container .my-slide .name-section {
  padding-left : 15px;
}

#customer-review .slideshow-container .my-slide .name-section h4{
  font-size: 24px;

}

#customer-review .slideshow-container .my-slide .name-section p{
  font-size: 16px;
  color: #939191;
}

#customer-review  .name-review p{
  font-size: 24px;
  margin-top: 7px;
  line-height: 30px;
 
}



#customer-review .slideshow-container .my-slide img {
  width: 15%;
}

.left-to-right {
  display: flex;
  justify-content: flex-end;
  
}

.left-to-right i {
  margin-right: 10px;
  
}

.span-border {
  display: flex;
  justify-content:center ;

}

.span-border span {
  width: 30px;
  height: 5px;
  background-color: grey;
  margin-right: 10px;
  margin-top: 15px;
}

.span-border .colored-span {

  background-color: #FF6433;
  
}


.fa-dash {
  color: black;
}

#customer-review .left-arrow, .right-arrow {
 border-radius: 50%;
 background-color: white;
 padding: 15px;
 cursor: pointer;

}
#customer-review .left-arrow:hover,  .right-arrow:hover {
  color: white;
  background-color: black;

}

.faq-container {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}


#faq-section .faq-header {
  font-size: 48px;
  text-align: center;
  font-weight: 700;
}

#faq-section .accordion-section {
  margin-top: 60px;
  width:100%;
}

.accordion {
  background-color: #fff;
  cursor: pointer;
  padding: 15px;
  width: 55%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  text-align: left;
  font-size: 24px;
}

.collapse-btn {
  margin-bottom: 9px;

}

.panel {
  padding: 30px;
  background-color: white;
  display: none;
  overflow: hidden;
  font-size: 15px;
  color: #939191;
  width: 54.8%;
  margin-left: 15.3rem;
  text-align: left;
 

}

.accordion:after {
  content: '\2795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
  background: #FF6433;
  padding: 5px;
  
  }
  

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

#intouch-section {
  background-color: #1E1B1B;
  padding: 60px;

}

#intouch-section .intouch-header h3 {
  font-size: 48px;
  color: white;
}

#intouch-section .inner-flex {
  display: flex;
  justify-content: space-around;
}

#intouch-section .inner-flex .intouch-header, .help-line-section {
  width: 45%;
  margin-bottom: -19px;
}

#intouch-section .inner-flex .intouch-header .icons {
  color: white;
  margin-top: 15px;
}

#intouch-section .inner-flex .intouch-header .icons i {
  color: white;
  padding-right: 15px;
}

#intouch-section .inner-flex .help-line-section .contact-style1{
   font-size: 18px;
   color: #FFFFFF;
   opacity: 0.6;
   margin-top: 9px;

}

#intouch-section .inner-flex .help-line-section .contact-style{
  font-size: 24px;
  color: #FFFFFF;
  margin-top: 9px;
}

#footer-section {
  background: #1E1B1B;

}

#footer-section .footer-flex {
  display: flex;
  justify-content: space-between;
  padding: 50px;

}

.list-section ul {
  list-style: none;
  display: flex;
}

.list-section ul a {
  text-decoration: none;
  font-size: 16px;
  color: white;
  padding-right: 25px;
  
}

.copyright-section {
  color: #939191;
  font-size: 16px;

}

/* mobile biew */
@media only screen and (max-width: 427px) {
  /* .main-header {
     flex-direction: column;
    align-items: flex-start; 
} */




  .main-header .hamburger {
    display: block;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.main-header .hamburger:hover {
    background-color: #FF6433;
    color: white;
}



  .right-section {
    flex-direction: column;
    align-items: center;
    display: none;
}

  .right-section ul {
    flex-direction: column;
    align-items: center;
}

  .right-section .navigation {
    border-right: none;
}

  .right-section ul, li {
   width: 100%;
}

.right-section ul li a {
   display: block;
}

.right-section ul li {
   margin-bottom: 10px;
}

.orange-btn {
  background: #FF6433;
  border-radius: 12px;
  padding: 12px 30px;
  text-decoration: none;
  font-size: 16px;
}

.flex-1 {
  flex-direction: column;
}


#hero-section .container {
  width: 100%;
}

#hero-section .text-section {
  width: 80%;
  order: 2;
  margin-inline: auto;
}

#hero-section .text-section h1{
  font-size: 20px;
 
}

#hero-section .image-section {
  width: 100%;
  order: 1;
  margin-bottom: 25px;
  background-size: contain;
}


#quote-section .left-section, #quote-section .right-form-section {
  width: 100%;

 }

 #quote-section .left-section h2 {
  
  font-size: 22px;
  text-align: center;
}

#quote-section p {
 font-size: 12px;
}

#quote-section .right-form-section h3 {
  font-size: 29px;
  text-align: center;
}

#quote-section .left-section .text-box {
  width: 100%; 
}

#quote-section .left-section .image-box {
  width: 15%;
}

#booking-section .left-process{
  width: 100%;
  margin-bottom: 30px;
}

#booking-section .left-process h2 {
  margin-bottom: 30px;
  font-size: 29px;
}

#booking-section .left-process p {
  width: 100%;
 
}

#booking-section .right-process {
  width: 100%;
  margin-top: 50px;
  margin-left: 0;
}

#booking-section .right-process .image-box {
  width: 15%;
}

.purple-line {
  
  height: 79%;
  border-left: 4px dotted #FF6433;
  margin-left: 16px;
  margin-bottom: 15px;
}

#booking-section .right-process .text-box {
  width: 100%;
}

#booking-section .right-process .text-box h5 {
  font-size: 17px;
 
}

#booking-section p {
  font-size: 15px;
  margin-top: 15px;
}

#offer-section .offer-header h2 {
  font-size: 28px;

}

#offer-section .service-offer {
  
  width: 100%;
 
}

.service-offer .services-render {
  width: 100%;
 
}

.query-1 .query-image-container {
  flex-direction: column;
}

.query-1 .query-image-container .query-image-1 {

  width: 100%;
  height: 300px;
}

.query-1 .query-image-container .query-image-contact {
  width: 100%; 
  height: 300px;
}

.query-1 .query-image-container .query-image-contact h3 {
  font-size: 15px;
  
}

.query-1 .query-image-container .query-image-2 {
  width: 100%;
  min-height: 300px;
}

.query-1 .query-image-container .query-image-contact button {
  padding: 10px;
  font-size: 15px;
}

#query-section .experience {
  flex-direction: column;
  align-items: center;
}

#query-section .experience .experience-img {
  margin-bottom: 10px;
  
}

#query-section .experience h2 {
  text-align: center;
}

#brand-services .brand-header h3 {
  font-size: 28px;
}

#brand-services .brand-images-section {
  display: flex;
  flex-wrap: wrap;
}

#brand-services .brand-images-section .brand-images {
  width: 100%;
}

#customer-review .customer-header h3 {
  font-size: 24px;
  text-align: center;
}

#customer-review .slideshow-container {
  flex-direction:column;

}

#customer-review .slideshow-container .myslide-sub-container {
  margin-bottom: 15px;
  width: 100%;
}

#customer-review .slideshow-container .my-slide .name-section h4 {
  font-size: 19px;
}

#customer-review .name-review p {
  font-size: 16px;
  line-height: 20px;
 
}

.span-border, .left-to-right {
  display: none;
}

#faq-section .faq-header {
  font-size: 28px;
  
}

.accordion {
  width: 100%;
  font-size: 14px;
  
}

.panel {
  width: 100%;
  margin-left: 0.69px;
  

}


#intouch-section .inner-flex {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#intouch-section .inner-flex .intouch-header, .help-line-section {
  width: 100%;
  
}

#intouch-section .inner-flex .intouch-header {
  margin-bottom: 20px;
}

#intouch-section .intouch-header h3 {
  font-size: 20px;
  
}

#intouch-section .inner-flex .help-line-section .contact-style {
  font-size: 12px;
  
}

#footer-section .footer-flex {
  flex-direction: column;
  align-items: center;
}

.list-section ul {
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 50px;

}

.list-section ul li {
  margin-bottom: 10px;
}

.copyright-section {
  
  font-size: 12px;
}

}